.main_bg{
    background-image: url("@images/Hero.png");
    background-size: cover;
    height: 250vh;
    background-repeat: no-repeat;
    background-position:center ;
    position: relative;
    z-index: -1;
    object-fit: cover;
}

.arrow {
  pointer-events: none;
}

.arrow__path {
  stroke: #000;
  fill: transparent;
  stroke-dasharray: 4 2;
}

.arrow__head line {
  stroke: #000;
  stroke-width: 1px;
}

