@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-dark: #000F27;
  --blue-md: #011535;
  --blue-light: #0384cc;
  --blue-lightest: #bbe8ff;
  --light: #fdfeff;
  --light-md: #edf9ff;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
  scroll-behavior: smooth;
  direction: ltr;
  background-color: var(--light);
  transition: all ease-in-out 0.3s;
}



::-webkit-scrollbar {
  width: 10px;
  border-radius: 12px;
  overflow: hidden;

}

/* Track */
::-webkit-scrollbar-track {
  background: var(--light);

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue-md);
  border-radius: 12px;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:var(--blue-light);
}